.cv-part-item {
    text-align: center;
    font-weight: normal;
    font-family: 'Delius', cursive;
    opacity: 0;
    transition: all 2s ease 0s;
    transform: scale(0.5);

    &.appeared {
        transform: scale(1);
        opacity: 1;
    }
}

.cv-part-item-title {
    font-size: 33px;
}

.cv-part-item-subtitle {
    font-size: 23px;
    word-wrap: nowrap;
}

.cv-part-item-paragraphHeading {
    padding: 0 10px;
    font-size: 21px;
    font-weight: bold;
}

.cv-part-item-paragraph {
    margin-top: 5px;
    font-size: 21px;
}

.seporator {
    margin: 20px 10%;
    width: 80%;
    opacity: 0;
    transition: all 5s ease 0s;
    transform: scale(0.1);

    &.appeared {
        transform: scale(1);
        opacity: 1;
    }

    @media (max-width: 700px) {
        margin: 2% 0;
        width: 100%;
    }
}