<div class="info">
    <div class="info-header">
        <img src="assets/images/photo.jpg" class="avatar" alt="avatar">
        <div class="info-text">
            <div i18n="@@fio" class="fio">Vladislav Korauko</div>
            <div i18n="@@speciality" class="speciality">Software developer</div>
            <div class="language-skills">
                <img class="lang-img" src="https://cdn-icons-png.flaticon.com/128/3665/3665923.png"
                    title="C">
                <img class="lang-img" src="https://cdn-icons-png.flaticon.com/128/6132/6132222.png"
                    title="C++">
                <img class="lang-img" src="https://cdn-icons-png.flaticon.com/128/6132/6132221.png"
                    title="C#">
                <img class="lang-img" src="https://cdn-icons-png.flaticon.com/128/5968/5968292.png"
                    title="JavaScript">
                <img class="lang-img" src="https://cdn-icons-png.flaticon.com/128/5968/5968381.png"
                    title="TypeScript">
            </div>
        </div>
    </div>
    <div class="contacts">
        <div class="contact-item">
            <i class="material-icons">mail</i>
            <div>Vladislav.inco@gmail.com</div>
        </div>
        <div class="contact-item">
            <i class="material-icons">phone</i>
            <div>+375 (44) 710 72 94</div>
        </div>
    </div>
</div>