.icon-with-title {
    max-width: 123px;
    padding: 5%;
    text-align: center;
    font-family: 'Delius', cursive;
    font-size: 21px;
    font-weight: normal;
}

.icon {
    width: 43px;
    height: 43px;
    margin: auto;
    padding: 0 40px;
    display: block;
}

.title {
    flex-wrap: wrap;
}