.icon-with-title {
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    font-size: 21px;
    font-weight: normal;
}

.icon {
    padding: 0 40px;
    margin: auto;
    display: block;
    width: 43px;
    height: 43px;
}